.box-sent-right{
   
}
.sent-textarea {
    background: white;
    padding: 1.5em 2em;
    text-align: center;
    font-size: 1.1em;
    color: #555;
    line-height: 2.1em;
    margin-top: -.5em;
}
button.sent-btn-login{
    width: 80%;
    border-color: #007fff;
    background-color: #007fff; 
    color: white; 
    border-radius: 6px;
    margin-bottom: 1.1em;
    height: 3.3em;
}
.rig-sen-box {
    background-color: white;
    margin-top: 1.8em;
    padding: 1em;
}