.MainContainer{
    display: flex;
    flex-wrap: wrap;
    width: 84%;
    margin: 1em 8%;
}
.Container-left {
    width: 70%;
    margin-top: 1em;
}
.Container-right {
    width:28%;
    margin-left: 2%;
    margin-top: 1em;
}