.MainSentence{
    display: flex;
    flex-wrap: wrap;
    width: 84%;
    padding: 1em 8%;
    background-color: #f5f5f5;
}
.Sentence-left {
    width: 70%;
    margin-top: .5em;
}
.Sentence-right {
    width:28%;
    margin-left: 2%;
    margin-top: 1em;
}
.sub-Sentence {
    margin-top: 2em;
    width: 88%;
}