.TotalArticle{
    margin: 1.6em 2em 1em;
}
.cell {
    overflow: hidden;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #8e8e8e;
    margin-bottom: 1.5em;
}
.cell .cover {
    position: relative;
    width: 23%;
    height: 11em;
    margin-left: 2em;
    float: right;
}
.cover img{
    width: 100%;
    height: 100%;
}
.cell h3.title {
    text-align: justify;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.5em;
    color: #494949;
    margin-bottom: 6px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}
.cell p.content {
    text-align: justify;
    color: #aaa;
    font-size: 1em;
    line-height: 1.6;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.cell p.author{
    font-size: 1em;
    margin-top: 1em;
    color: #aaa;
    margin:0;
}
.cell>p.author>span{
    margin-right: 2em;
}