.book-cell {
    height: 8.7em;
    width: 100%;
    border-bottom: 1px solid #f5f5ff;
    padding-top: 1.1em;
}
.book-cell img.bookImage{
    height: 7em;
    width: 5em;
    float: left;
}
.textContent {
    width: 55%;
    padding-left: .6em;
    float: left;
}
.textContent p.book-username{
    margin: 0;
    color: #2e3135;
    height: 10em;
    font-size: .88em;
    width: 100%;
    margin-top: .3em;
}