.label{
    padding-top: 1em;
    height: 3em;
}
.label p.text{
    margin: 0;
    float: left;
    color: #aaa;
    font-size: 1.1em;
}
.label p.randChange{
    margin: 0;
    float: right;
    color:#aaa;
    font-size: 1.1em;
}
.label img.reflesh{
    width: 1.5em;
    float: right;
}