.media-slides{
    background-color: #ddd;
    width: 100%;
    padding: 3% 0 2%;
}
.media-slides p.media-title{
    text-align: center;
    margin: 0;
    display: block;
    margin: 0 auto;
    font-size: 2em;
    letter-spacing: .3em;
    font-weight: 600;
}
.media-container{
    text-align: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 20em;
    padding: 3% 0 0;
}
.media-container .arrow{
    height: 8em;
    width: 5%;
    background-color: #aaa;
    margin-top: 6em;
    visibility: hidden;
}
.media-container .media-slide-image{
    width: 90%;
    display: none;
}
.media-slide-image img{
    width: 45%;
    height: 20em;
}
.arrow img.MediaArrowImage{
    width: 50px;
    height: 50px;
    margin-top: 2.5em;
}
.media-dot{
    padding-top: 1.5em;
    text-align: center;
}
span.dot{
    cursor:pointer;
    height: .68em;
    width:  .68em;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
span.dot:hover,span.active {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}